.layout {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: 1024px) {
    position: static;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
}

.content {
  position: relative;
  max-height: calc(100vh - 165px);
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  padding-top: 90px;

  @media only screen and (max-width: 1024px) and (-webkit-device-pixel-ratio: 3) {
    max-height: calc(100vh - 265px);
  }

  @media (min-width: 1024px) {
    width: 100%;
    position: static;
    max-height: calc(100vh - 165px);
    padding: 36px 36px 160px 60px;
  }
}

.footer {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  bottom: 30px;
  left: 0;
  right: 60px;

  @media (min-width: 1024px) {
    padding: 0 60px;
  }
}
